* {
    margin: 0;
    padding: 0;
}

.btn-group button {
    margin: 5px 10px 0 10px;
    padding: 2px;
}

body {
    width: 100%;
}

.categories {
    margin: 20px;
    padding: 10px;
    padding-left: 50px;
    height: 91vh;
    background-color: rgba(0, 0, 0, 0.1);
}
